@use "./styles/global";
@use "./styles/buttons";
@use "./styles/lazyload";
@use "./styles/layout";
// @use './styles/layouts/flex';
@use "./styles/globals/spacing";
@use "./styles/globals/mq";
@use "./styles/globals/flex";
@use "./styles/globals/grid";
@use "./styles/globals/accordion";
@use "./styles//post-styles";
@use "./styles/google_consent";
// body {
//   background-color: hsl(250, 18%, 7%);
//   color: white;
//   font-family: 'Courier New', Courier, monospace;
//   min-height: 200vh;
//   margin: 0;
//   padding: 0;
// }
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
strong {
  font-weight: 700;
}
img {
  max-width: 100%; /* Ensures the image never exceeds its container's width */
  height: auto; /* Preserves the aspect ratio when the width changes */
  display: block; /* Optional, but often helpful to remove extra space below images */
}
.hide {
  display: none !important;
}
.rounded {
  border-radius: 50%;
}

.rounded:focus,
.rounded:active {
  outline: none; /* Remove the default focus outline */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For iOS, make it fully transparent */
  /* Now, create your own rounded highlight */
  box-shadow: 0 0 0 8px rgba(0, 123, 255, 0.1); /* Example: a blue, slightly transparent shadow */
  /* Or a border, if you prefer: */
  /* border: 3px solid rgba(0, 123, 255, 0.5); */
}

.overflow-hidden {
  overflow: hidden;
}
.border-small {
  border: solid 1px #ccc;
}

.contrast {
  color: var(--wp--preset--color--contrast) !important;
}

.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--wp--preset--color--light);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show-image {
  aspect-ratio: 384/215;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.2rem;
  overflow: hidden;
  display: block;
  animation: appear 1s;
  background-color: var(--wp--preset--color--secondary);
  position: relative;
}

@keyframes appear {
  from {
    scale: 0.9;
    opacity: 0;
    display: none;
  }
  to {
    display: block;
    scale: 1;
    opacity: 1;
  }
}
