/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-domki-footer-domki-footer {
  background: #144d29;
  .privacy {
    text-align: left;
    a {
      text-decoration: underline !important;
    }
  }
  a {
    font-size: var(--wp--preset--font-size--small);
  }
  .message {
  }
  .footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 120px;
    padding-bottom: 54px;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
  }
  @media (max-width: 992px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
  .footer a:hover {
    text-decoration: none;
    color: #fff;
  }
  .footer__col {
    flex: 1;
  }
  @media (max-width: 992px) {
    .footer__col {
      line-height: 30px;
    }
  }
  .footer__left {
    text-align: left;
    text-decoration: underline;
    color: #83c5be;
  }
  .footer__center {
    text-align: center;
  }
  .footer__right {
    text-align: right;
  }
  .footer__right a {
    color: #83c5be;
    text-decoration: underline;
  }
  .footer__logo {
    z-index: 33;
    height: 124px;
    width: 124px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: -64px;
  }
  .up {
    position: absolute;
    top: -28px;
    right: 0;
    cursor: pointer;
  }
  .up svg circle {
    transition: all ease-in-out 1s;
  }
  .up:hover svg .up-arrow {
    transform: translateY(-3px);
  }
  .up:hover svg circle {
    fill: #144d29;
  }
  .up:hover svg path {
    stroke: #e4f5eb;
  }
  .up:hover svg .path-up {
    fill: #e4f5eb;
  }
}
