/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-domki-footer-domki-footer {
  .privacy {
    text-align: left;
    a {
      text-decoration: underline !important;
    }
  }
  footer {
    background: #144d29;
  }
  .message {
  }
  .footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 120px;
    padding-bottom: 54px;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
  }
  @media (max-width: 992px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
  .footer a:hover {
    text-decoration: none;
    color: #fff;
  }
  .footer__col {
    flex: 1;
  }
  @media (max-width: 992px) {
    .footer__col {
      line-height: 30px;
    }
  }
  .footer__left {
    text-align: left;
    text-decoration: underline;
    color: #83c5be;
  }
  .footer__center {
    text-align: center;
  }
  .footer__right {
    text-align: right;
  }
  .footer__right a {
    color: #83c5be;
    text-decoration: underline;
  }
  .footer__logo {
    z-index: 33;
    height: 124px;
    width: 124px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: -64px;
  }
  .up {
    position: absolute;
    top: -28px;
    right: 0;
    cursor: pointer;
  }
  .up svg circle {
    transition: all ease-in-out 1s;
  }
  .up:hover svg .up-arrow {
    transform: translateY(-3px);
  }
  .up:hover svg circle {
    fill: #144d29;
  }
  .up:hover svg path {
    stroke: #e4f5eb;
  }
  .up:hover svg .path-up {
    fill: #e4f5eb;
  }
}

.wp-block-domki-footer-domki-footer {
  --wa-chat-dark-green: var(--wp--preset--color--primary);
  --wa-chat-green: var(--wp--preset--color--primary);
  --wa-chat-light-green: var(--wp--preset--color--primary);
  --wa-chat-light: var(--wp--preset--color--pale);
  --wa-chat-white: var(--wp--preset--color--base);
  --wa-chat-red: #dc1c2a;

  --wa-chat-font-family: sans-serif;
  --wa-chat-width: 24rem;
  --wa-chat-box-shadow: 0 0.5rem 1.5rem -0.25rem rgba(0, 0, 0, 0.15);
  --wa-chat-border-radius: 0.5rem;
  --wa-chat-z-index: 1055;
  --wa-chat-backdrop-color: rgba(0, 0, 0, 0.75);
  --wa-chat-distance-y: 1rem;
  --wa-chat-distance-x: 1rem;
  --wa-chat-right: var(--wa-chat-distance-x);

  --wa-chat-button-size: 3.5rem;
  --wa-chat-button-border-radius: 50%;
  --wa-chat-button-color: var(--wa-chat-light-green);
  --wa-chat-button-icon-size: 1.5rem;

  --wa-chat-window-margin-bottom: calc(var(--wa-chat-button-size) + var(--wa-chat-distance-y) + 1rem);

  --wa-chat-header-padding: 0.625rem 1.25rem;
  --wa-chat-contact-img-size: 2.5rem;
  --wa-chat-close-size: 1.75rem;

  --wa-chat-body-color: #000;
  --wa-chat-body-padding: 1rem 1rem 1.5rem 1rem;
  --wa-chat-placeholder-color: #757575;
  --wa-chat-placeholder-color-hover: #414141;
  --wa-chat-form-btn-border-radius: 0.25rem;

  --wa-chat-error-text-right: auto;
  --wa-chat-error-text-left: 0;
  --wa-chat-error-text-bottom: 100%;
  --wa-chat-error-text-margin: 0 0 0.25rem 0;
  --wa-chat-error-text-transform-origin: left;

  /* To make the component stay on the left, set the variables commented below */
  --wa-chat-left: auto; /* var(--wa-chat-distance-x) */
  --wa-chat-error-text-alt-right: 100%; /* var(--wa-chat-error-text-right) */
  --wa-chat-error-text-alt-left: auto; /* var(--wa-chat-error-text-left) */
  --wa-chat-error-text-alt-bottom: auto; /* var(--wa-chat-error-text-bottom) */
  --wa-chat-error-text-alt-margin: 0 0.5rem 0 0; /* var(--wa-chat-error-text-margin) */
  --wa-chat-error-text-alt-transform-origin: right; /* var(--wa-chat-error-text-transform-origin) */
}

.wp-block-domki-footer-domki-footer {
  .whatsapp-chat {
    z-index: var(--wa-chat-z-index);
    position: fixed;
    right: 0;
    bottom: 0;
    line-height: 1.25;
    font-family: var(--wa-chat-font-family);

    &-toggler {
      display: none;
    }

    &-toggler:not(:checked) ~ .whatsapp-chat-window {
      transform: scale(0.75) translateY(calc(100% + var(--wa-chat-window-margin-bottom) / 0.75));
      pointer-events: none;
    }

    &-toggler:not(:checked) ~ .whatsapp-chat-backdrop {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: var(--wa-chat-backdrop-color);
      transition: 0.25s;
    }

    &-button {
      z-index: 1;
      position: fixed;
      left: var(--wa-chat-left);
      right: var(--wa-chat-right);
      bottom: var(--wa-chat-distance-y);
      width: var(--wa-chat-button-size);
      height: var(--wa-chat-button-size);
      border-radius: var(--wa-chat-button-border-radius);
      background: var(--wa-chat-button-color);
      color: var(--wa-chat-white);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 60%;
      }
    }

    &-window {
      position: fixed;
      left: var(--wa-chat-left);
      right: var(--wa-chat-right);
      bottom: var(--wa-chat-window-margin-bottom);
      box-shadow: var(--wa-chat-box-shadow);
      transform-origin: bottom;
      border-radius: var(--wa-chat-border-radius);
      width: var(--wa-chat-width);
      max-width: calc(100% - var(--wa-chat-distance-x) * 2);
      transition: 0.4s;
    }

    &-header {
      background: var(--wa-chat-dark-green);
      color: var(--wa-chat-white);
      display: flex;
      align-items: center;
      padding: var(--wa-chat-header-padding);
      border-radius: var(--wa-chat-border-radius) var(--wa-chat-border-radius) 0 0;

      & > * {
        display: flex;
      }
    }

    &-contact-img {
      width: var(--wa-chat-contact-img-size);
      height: var(--wa-chat-contact-img-size);
      border-radius: var(--wa-chat-contact-img-size);
      object-fit: cover;
    }

    &-contact-info {
      -webkit-flex: 1 0 0;
      flex: 1 0 0;
      flex-direction: column;
      padding: 0 1rem;
    }

    &-close {
      padding: 0.25rem;
      margin-right: -0.25rem;
      cursor: pointer;
      transition: 0.2s;

      svg {
        width: var(--wa-chat-close-size);
        height: var(--wa-chat-close-size);
      }

      &:hover {
        transform: scale(1.1);
        color: var(--wa-chat-light);
      }
    }

    &-body {
      padding: var(--wa-chat-body-padding);
      font-size: 0.875rem;
      background: url(https://i.imgur.com/qzkmhio.png) no-repeat;
      background-size: cover;
      text-align: center;
      border-radius: 0 0 var(--wa-chat-border-radius) var(--wa-chat-border-radius);
    }

    &-bubble {
      position: relative;
      z-index: 0;
      margin: 0 auto 0.5rem 0;
      padding: 0.125rem 0 0.25rem;
      border-width: 0.3rem 0.75rem 0.3rem 1.5rem;
      border-style: solid;
      -o-border-image: url(https://i.imgur.com/UD8BZ7J.png) 8 20 8 30 stretch;
      border-image: url(https://i.imgur.com/UD8BZ7J.png) 8 20 8 30 stretch;
      color: var(--wa-chat-body-color);
      text-align: left;

      @media (min-width: 425px) {
        width: 85%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f9f9f9;
        z-index: -1;
      }
    }

    &-green-bubble {
      position: relative;
      display: block;
      border-width: 0.3rem 1rem 0.3rem 0.3rem;
      border-style: solid;
      width: 90%;
      -o-border-image: url(https://i.imgur.com/jXoq4es.png) 0 17 3 10 stretch;
      border-image: url(https://i.imgur.com/jXoq4es.png) 0 17 3 10 stretch;
      text-align: left;
      cursor: text;
      margin: 0 0 0 auto;
      color: var(--wa-chat-body-color);

      &:hover {
        .whatsapp-chat-input::placeholder {
          color: var(--wa-chat-placeholder-color-hover);
        }
      }

      @media (min-width: 40rem) {
        width: 85% !important;
      }
    }

    &-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-clip: padding-box;
      display: block;
      font-weight: 400;
      line-height: 1.5;
      padding: 0.5rem 1rem;
      width: 100%;
      border: 0;
      background: var(--wa-chat-light);
      box-shadow: none;
      outline: none;
      border-radius: 0;
      font-size: inherit;
      color: inherit;

      &::placeholder {
        color: var(--wa-chat-placeholder-color);
        transition: 0.2s;
      }

      &:invalid:hover ~ .error .error-icon {
        transform: scale(1);
      }

      &:invalid:hover:focus ~ .error .error-text {
        color: var(--wa-chat-white);
        transform: scaleX(1);
        transition:
          transform 0.2s,
          color 0.2s 0.1s;
      }
    }

    &-checkbox {
      .whatsapp-chat-green-bubble {
        width: calc(90% - 1.75rem);
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 100%;
          width: 1.125rem;
          height: 1.125rem;
          margin-right: 1rem;
          border: 2px solid rgba(0, 0, 0, 0.5);
          border-radius: 0.25rem;
          transform: translateY(-50%);
          transition: 0.2s;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 100%;
          width: 0.6rem;
          height: 0.35rem;
          margin-right: 1.125rem;
          margin-top: -0.125rem;
          border-left: 2px solid var(--wa-chat-white);
          border-bottom: 2px solid var(--wa-chat-white);
          transform: rotate(-90deg) translateY(-50%) scale(0);
          transition: 0.2s;
        }

        &:hover {
          &:before {
            border-color: rgba(0, 0, 0, 0.75);
          }

          .whatsapp-chat-input {
            color: var(--wa-chat-placeholder-color-hover);
          }
        }
      }

      .whatsapp-chat-input {
        pointer-events: none;
        color: var(--wa-chat-placeholder-color);
        line-height: 1.2;
        transition: 0.2s;
      }

      .error {
        margin-right: 1.75rem;
      }

      input[type='checkbox'],
      input[type='radio'] {
        display: none;
      }

      input[type='radio'] ~ .whatsapp-chat-green-bubble:before {
        border-radius: 50%;
      }

      input:checked ~ .whatsapp-chat-green-bubble {
        &:before {
          border-color: var(--wa-chat-green);
          background-color: var(--wa-chat-green);
        }

        &:after {
          transform: rotate(-45deg) translateY(-50%) scale(1);
          transition: 0.2s 0.15s;
        }

        .whatsapp-chat-input {
          color: var(--wa-chat-dark-green);
        }
      }

      input[required]:not(:checked) ~ .whatsapp-chat-green-bubble:hover .error-icon {
        transform: scale(1);
      }

      input[required]:not(:checked) ~ .whatsapp-chat-green-bubble:hover .error-text {
        color: var(--wa-chat-white);
        transform: scaleX(1);
        transition:
          transform 0.2s,
          color 0.2s 0.1s;
      }
    }

    .error {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      padding-right: 1rem;
      white-space: nowrap;
      pointer-events: none;

      &-icon {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        color: var(--wa-chat-red);
        vertical-align: middle;
        transform: scale(0);
        transition: 0.25s;
      }

      &-text {
        position: absolute;
        right: var(--wa-chat-error-text-right);
        left: var(--wa-chat-error-text-left);
        bottom: var(--wa-chat-error-text-bottom);
        display: inline-block;
        font-size: 0.625rem;
        margin: var(--wa-chat-error-text-margin);
        color: var(--wa-chat-red);
        background: var(--wa-chat-red);
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        vertical-align: middle;
        transform: scaleX(0);
        transform-origin: var(--wa-chat-error-text-transform-origin);
        transition:
          transform 0.2s 0.1s,
          color 0.2s;

        @media (min-width: 640px) {
          right: var(--wa-chat-error-text-alt-right, var(--wa-chat-error-text-right));
          left: var(--wa-chat-error-text-alt-left, var(--wa-chat-error-text-left));
          bottom: var(--wa-chat-error-text-alt-bottom, var(--wa-chat-error-text-bottom));
          margin: var(--wa-chat-error-text-alt-margin, var(--wa-chat-error-text-margin));
          transform-origin: var(--wa-chat-error-text-alt-transform-origin, var(--wa-chat-error-text-transform-origin));
        }
      }
    }

    &-btn {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 0;
      padding: 0.5rem 1.5rem;
      margin-top: 1rem;
      border-radius: var(--wa-chat-form-btn-border-radius);
      background: var(--wa-chat-green);
      color: var(--wa-chat-white);
      transition: 0.2s;

      &:hover {
        background: var(--wa-chat-dark-green);
        color: var(--wa-chat-white);
      }
    }

    .text-wa-green {
      color: var(--wa-chat-green);
    }

    .text-wa-light-green {
      color: var(--wa-chat-light-green);
    }
  }
}
.wp-block-domki-footer-domki-footer .sms-box {
  display: grid;
  background-color: var(--wp--preset--color--primary);
  place-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: #fff;
  }
}
